<div class="col-lg-2" id="login">
  <fieldset>
    <legend>Log In</legend>
    <%= simple_form_for :login, :url => {:action => 'attempt_login'},
                        :html => {class: 'form-horizontal col-lg-10 col-sm-10 col-xs-10'} do |f| %>

        <%= f.input :username, label: 'Username' %>
        <%= f.input :password %>
        <%= f.input_field :remember_me, :as => :boolean, :inline_label => 'Remember me' %>
        <br><br>
        <%= f.button :submit, 'Log In' %>
        <br><br>

        <!--<%= %>-->

    <% end %>
  </fieldset>
</div>