<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "jessica_sarah" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "cyborg", :media => "all" %>

  <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>


</head>
<body class="<%= "#{params[:controller]} #{params[:action]}" %>">

<!--Facebook Like Button-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1434740353425079&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="http://www.jessicasarahmusic.com/" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>

<div class="container">

  <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == 'notice' ? 'success' : 'danger' %>">
        <a class="close" data-dismiss="alert">x</a>
        <%= msg %>
      </div>
  <% end %>
</div>


<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-collapse collapse">
      <%= render_navigation(:context => :main, :expand_all => true, :renderer => :bootstrap) %>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>

<% if @home %>
    <%= image_tag 'playButton.png', id: 'play-button', size: '100x100' %>
    <div class="video-container intro">
      <div id="outer">
        <div id="ytplayer"></div>
        <%= image_tag('close-x.png', id: 'intro-close') %>
      </div>
<% end %>

</div>

<% logger.debug("FOLLOW: #{@twitter}") %>

<div id="contact-links" class="container">
  <%= link_to '<i id="font-test" class="fa fa-twitter-square fa-2x"></i>'.html_safe, @twitter, :target => '_blank' %>
  <%= link_to '<i id="font-test" class="fa fa-facebook fa-2x"></i>'.html_safe, @facebook, :target => '_blank' %>
  <%= link_to '<i id="font-test" class="fa fa-youtube fa-2x"></i>'.html_safe, @youtube, :target => '_blank' %>
  <%= link_to '<i id="font-test" class="fa fa-instagram fa-2x"></i>'.html_safe, @instagram, :target => '_blank' %>
  <%= link_to '<i id="font-test" class="fa fa-tumblr fa-2x"></i>'.html_safe, @tumblr, :target => '_blank' %>
  <%= link_to '<i id="font-test" class="fa fa-envelope fa-2x"></i>'.html_safe, 'contact', :remote => true %>
</div>

</div>

<div id="ajax-content" class="container"></div>

<div id="page-content" class="container theme-showcase">

  <%= yield %>

</div>
<!-- /container -->

<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "cyborg" %>
<%= yield(:page_javascript) if content_for?(:page_javascript) %>

<% if !@home %>
    <script>changeBGopacity('0.7')</script>
<% end %>

</body>
</html>

